body {
  background-color: #EEEBDD;
}

hr {
  color: #D8B6A4;
  border-style: dotted none none;
  border-width: 5px;
  width: 10%;
}

h1 {
  color: #630000;
}

h3 {
  color: #630000;
}
